
#row {
  position: relative;
}

#btn {
  position: absolute;
  right: 5px;
  visibility: hidden;
  border: solid white;
  color: red;
}

#row:hover #btn {
  visibility: visible;
}

h1 {
  text-align: center;
}

table {
  margin: auto;
  width: 500px;
  background-color: white;
}

#head {
  border-style: none;
}

.cell {
  height: 60px;
  vertical-align: middle;
}

#down {
  height: 30px;
}



